{% extends 'mails/base.html'%}

{%block title%}
Verify Your email
{%endblock%}

{%block content%}
<table style="padding: 20px;font-size: 16px;">
  <tr>
    <td>
      Dear {{data.get('name','User')}},
    </td>
  </tr>
  <tr>
    <td style="padding-top: 20px;">
      Thank you for registering with Us. Please use this OTP to verify your email
    </td>
  </tr>
  <tr>
    <td style="padding-top: 20px;font-size: 22px;font-weight: bold;">
      {{data.get("otp","No Otp provided")}}
    </td>
  </tr>
  <tr>
    <td style="padding-top: 20px;">
      If you did not signup, Please ignore this email.
    </td>
  </tr>
</table>

{%endblock%}