{% extends "admin/base.html.j2" %}
{% import "macros/forms.html.j2" as forms %}

{% block content %}
<div class="p-5 mt-2 mb-4">
    <div class="flex justify-between mb-5 gap-4">
        <h1 class="text-2xl font-bold">Create User</h1>
    </div>
    <form action="{{url_for('admin.users.create')}}" method="post" class="max-w-2xl">
        {{ form.csrf_token }}

        {{forms.render_input(form.name,placeholder="John Doe")}}
        {{forms.render_input(form.username,placeholder="username")}}
        {{forms.render_input(form.email,type="email",placeholder="xyz@example.com")}}
        {{forms.render_input(form.password,type="password",placeholder="*******")}}
        {{forms.render_checkbox(form.is_active)}}
        {{forms.render_checkbox(form.email_verified)}}
        {{forms.render_select(form.user_type)}}
        {{forms.render_mutliselect(form.role_ids)}}


        <div class="flex w-full justify-end gap-4">
            <a href="{{url_for('admin.users')}}" class="btn btn-secondary">Go Back</a>
            <button type="submit" class="btn btn-primary">
                Create
            </button>
        </div>
    </form>

</div>
{% endblock content %}