{% extends "admin/base.html.j2" %}
{% import "macros/forms.html.j2" as forms %}

{% block content %}
<div class="p-5 mt-2 mb-4">
    <div class="flex justify-between mb-5 gap-4">
        <h1 class="text-2xl font-bold">Create Blog Category</h1>
    </div>
    <form action="{{url_for('admin.blog_categories.create')}}" method="post" class="max-w-2xl"
        enctype="multipart/form-data">
        {{ form.csrf_token }}

        {{forms.render_input(form.name,placeholder="Category Name")}}
        {{forms.render_input(form.slug,placeholder="category-slug-dash-saperated")}}
        {{forms.render_input(form.thumbnail_id,type="number",placeholder="Image id")}}
        {{forms.render_textarea(form.short_desc,placeholder="Short Description")}}
        {{forms.render_input(form.meta_title,placeholder="Meta Title")}}
        {{forms.render_input(form.meta_keywords,placeholder="Keywords")}}
        {{forms.render_textarea(form.meta_desc,placeholder="Meta Description")}}

        <div class="flex w-full justify-end gap-4">
            <a href="{{url_for('admin.blog_categories')}}" class="btn btn-secondary">Go Back</a>
            <button type="submit" class="btn btn-primary">
                Create
            </button>
        </div>
    </form>

</div>
{% endblock content %}